<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Games</h1>
  <table>
    <tbody>
      <% games.forEach(game => { %>
      <div class="game-view-container">
        <tr>
          <td><a href="games/<%= game._id %>"><%= game.title %></a></td>
          <td><%= game.genre %></td>
        </tr>
      </div>
        <% }) %>
      
    </tbody>
  </table>
</main>

<%- include('./partials/footer') %>
