<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Game List</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% games.forEach(game => { %>
      
        <tr>
          <td><%= game.title %></td>
          <td><%= game.genre %></td>
          <td><a href="games/<%= game._id %>">See More</a></td>
        </tr>
        <% }) %>
      
    </tbody>
  </table>
</main>

<%- include('./partials/footer') %>
