<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/games/show.css" />
<%- include('../partials/nav') %>
<main>
  <section>
  <div class="info">
    <div class="game-info">
      <div class="game-container">
        <h1><%= title %></h1>
        <% if (game.owner.equals(user?.profile._id)) { %>
          <a href="/games/<%= game._id %>/edit">
            <button id="edit-button" class="btn">Edit Game</button>
          </a>
          <% } %>
          <p id="profile">Created by: <a href="/profiles/<%= game.owner._id %>"><%= game.owner ? game.owner.name : "Unknown" %></a></p>
          <div id="genre"><%= game.genre %></div>
          <div id="releaseDate"><%= game.releaseDate.toDateString().slice(3) %></div>
          <div id="description"><%= game.description %></div>
          <div id="consoles">For:
            <% game.consoles.forEach(console => { %>
              <p><%= console.name %></p>
            <% }) %>  
          </div>
          <% if (game.owner.equals(user?.profile._id)) { %>
          <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
            <button id="delete-btn" class="btn btn btn-danger" type="submit">Delete Game</button>
          </form>
          <% } %>
        </div>

        <div class="consoles">
          <div>
            <% if (game.owner.equals(user?.profile._id)) { %>
              <form id="add-consoles" action="/games/<%= game._id %>/consoles" method="POST">
                <select name="consoleId">
                  <% consoles.forEach(console => { %>
                    <option value="<%= console._id %>"><%= console.name %></option>
                    <% }) %>
                  </select>
                  <button type="submit">Add Console to Game</button>
                </form>
                <div id="add-console">
                <a 
                  href="/consoles/new"
                  <%- title === 'Add Console' ? 'class="active"' : '' %>
                >
                  ADD A CONSOLE
                </a>
              </div>
              <% } %>
          </div>
          </div>
      <h4>Liked the game?</h4>
      <form action="/profiles/<%= game._id %>/like-games?_method=PATCH" method="POST">
        <button type="submit">Like</button>
      </form>
    </div>
    <div id="comment-container">
        <form 
        id="add-comment-form"
        action="/games/<%= game._id %>/comments"
        method="POST"
        >
        <div id="comment-area">
            <div>
              <h2 id="comment-title">Comments</h2>
            </div>
            <div id="comment-input">
              <textarea name="content" id="content-textarea" required></textarea>
              <label for="rating-select" id="rating">Rating:
              <select name="rating" id="rating-select">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5" selected>5</option>
              </select>
            </label>
              <button type="submit" id="comment-btn">Add Comment</button>
            </div>
          </div>
          </form>
          <div id="comments">
          <% if (game.comments.length) { %>
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>Date</th>
                  <th>Comment</th>
                  <th>Rating</th>
                </tr>
              </thead>
              <tbody>
                <% let total = 0 %> 
                <% game.comments.forEach(function(comment) { %>
                  <% total += comment.rating %>
                  <tr>
                    <td><%= user.profile.name %> said...</td>
                    <td><%= comment.createdAt.toLocaleDateString() %></td>
                    <td><%= comment.content %></td>
                    <td><%= comment.rating %></td>
                  </tr>
                <% }) %>
                <tr>
                  <td colspan="2"></td>
                  <td>
                    <strong><%= (total / game.comments.length).toFixed(1) %></strong>
                  </td>
                </tr>
              </tbody>
            </table>
          <% } else { %>
            <h3>No Comments Yet</h3>
          <% } %>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('../partials/footer') %>